<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <!-- For reading the model from external storage -->
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <!-- Phase 2: microphone -->
    <uses-permission android:name="android.permission.RECORD_AUDIO" />

    <!-- Phase 3: alarms -->
    <uses-permission android:name="com.android.alarm.permission.SET_ALARM" />
    <uses-permission android:name="android.permission.SCHEDULE_EXACT_ALARM" />

    <!-- Keep model in RAM while screen is off (optional but useful) -->
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.VIBRATE" />

    <queries>
        <package android:name="com.google.android.youtube" />
        <package android:name="com.google.android.apps.maps" />
        <package android:name="com.android.chrome" />
        <package android:name="com.spotify.music" />
        <package android:name="com.google.android.gm" />
        <package android:name="com.google.android.calendar" />
        <package android:name="com.google.android.dialer" />
        <package android:name="com.google.android.apps.messaging" />
        <intent>
            <action android:name="android.media.action.STILL_IMAGE_CAMERA" />
        </intent>
    </queries>

    <application
        android:largeHeap="true"
        android:name=".CompanionApp"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.TTTCompanion">

        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:label="@string/app_name"
            android:theme="@style/Theme.TTTCompanion">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>